003 - Dictionary/__pycache__/constants.cpython-312.pyc
003 - Dictionary/__pycache__/gui_utils.cpython-312.pyc
003 - Dictionary/__pycache__/menu_utils.cpython-312.pyc
003 - Dictionary/__pycache__/constants.cpython-311.pyc
003 - Dictionary/__pycache__/gui_utils.cpython-311.pyc
003 - Dictionary/__pycache__/menu_utils.cpython-311.pyc
003 - D5L Dictionary/__pycache__/constants.cpython-312.pyc
003 - D5L Dictionary/__pycache__/gui_utils.cpython-312.pyc
003 - D5L Dictionary/__pycache__/menu_utils.cpython-312.pyc
